{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Cart{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center page-title mb-2">Shopping Cart</h1>
            </div>
            <div class="col-12">
                <p class="text-center">
                    Hi {{ user|capfirst }}, your cart info is below. Before you checkout you can add your book preferences to the form
                    below, if this information we can know you better and send you books you will enjoy more. If you want to get random
                    books leave the form empty, you update it later in you Profile if you want.
                </p>
                <p class="text-center">
                    Please make sure you review the details of the plan you selected before continuing to Checkout. If you are happy
                    with your purchase, we can then proceed. Click he Checkout button and you will be asked your details adress and
                    payment method.
                </p>
            </div>
        </div>
    
        <div class="row general-container">
            <div class="col-12 col-lg-6">
                <!-- Book Preferences Form -->
                <form class="mt-3 checkout-form" action="{% url 'view_cart' %}" method="POST" id="book-preferences-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Book Preferences</legend>
                        {{ book_preferences_form.genres | as_crispy_field }}
                        {{ book_preferences_form.favorite_authors | as_crispy_field }}
                        {{ book_preferences_form.favorite_books | as_crispy_field }}
                    </fieldset>
                    <button class="btn-blue float-right my-2">Add Preferences</button>
                </form>
            </div>
            <!-- Order Summary -->
            <div class="col-12 col-lg-6">
                {% if cart_items %}
                    {% for item in cart_items %}
                    <div class="checkout-wrapper d-flex justify-content-center align-items-center">
                        <div class="card checkout-card">
                            <p> You chose the <span class="blue-text font-weight-bold">{{ item.plan.name }}</span> plan.
                            </p>
                            <div class="checkout-price mt-3">
                                <p>Price:</p>
                                <div class="card-price checkout-value">
                                    <i class="fas fa-euro-sign"></i>
                                    <p>{{item.plan.price}}<span>EUR</span></p>
                                </div>
                            </div>
                            <p>And you will be billed {{item.plan.frequency|lower}}.</p>
                        </div>
                    </div>
                    <div class="checkout-buttons float-right mb-2">
                        <a href="{% url 'clear_cart' %}" class="btn-white btn-checkout">Clear cart and pick
                            another plan</a>
                        <a href="{% url 'checkout' %}" class="btn-blue btn-checkout">Checkout</a>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="text-center">
                    <h3 class="blue-text my-5">Your Cart is empty!</h3>
                    <p class="my-5">Have a look at our plans in the <a class="btn-blue"
                            href="{% url 'pricing' %}">Pricing</a> page.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}