{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="container-fluid hero">
        <div class="container-intro">
            <div class="intro-animation">
                <p class="anim-knowledge">Knowledge is</p>
                <p class="anim-brain"><i class="fas fa-brain"></i></p>
                <p class="anim-freedom">Freedom</p>
            </div>
            <p class="anim-intro-text">with Read more for Less you don't need to keep searching for what book you will read next. We
                will send the best
                books to our home. You only have to <a href="" class="btn-blue">Sign Up</a>, wait for the delivery, brew your coffee and
                enjoy the book.
            </p>
        </div>
     </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
        var collapseList = collapseElementList.map(function (collapseEl) {
            return new bootstrap.Collapse(collapseEl)
        })
    </script>

{% endblock %}