{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="container-fluid hero">
        <div class="container-intro">
            <h2>
                <span>Knowledge is </span>
                <span><i class="fas fa-brain"></i></span>
                <span> Freedom</span>
            </h2>
            <p>with Read more for Less you don't need to keep searching for what book you will read next. We will send the best
                books to our home. You only have to <a class="btn-register">Sign Up</a>, wait for the delivery, brew your coffee and enjoy the book</p>
        </div>
     </div>

{% endblock %}