{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'book_club/css/book_club.css' %}">
{% endblock %}

{% block content%}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center page-title">Book Club</h1>
            </div>
            <div class="col-12">
                <p class="text-center">
                    At the Read More For Less Book Club you will find book review from other users. The Book Club is exclusive for members what makes it unique. You can add a review in the reviews of other users, or you can create your own review and wait for the feedback from other users. 
                </p>
                <p class="text-center">
                    To create a review, just click in the button below.
                </p>
                <div class="d-flex justify-content-center">
                    <a class="btn-blue text-center" href="{% url 'create_review' %}">Create Review</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center payment-header mb-0">Reviews</h2>
            </div>
            <div class="col-12 col-lg-4 offset-lg-4 my-3">
                <form class="w-100" action="{% url 'book_club' %}" method="GET">
                    <div class="w-100 d-flex justify-content-center input-search">
                        <input class="w-100" type="text" name="q" placeholder="Search Review">
                        <button type="submit"><i class="fas fa-search d-flex align-items-center "></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for review in reviews %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 book-cover mb-3">
                    <a href="{% url 'view_review' review.id %}"><img src="{{ review.image_url }}" alt="{{ review.book_name }}'s cover'"></a>
                    <div>
                        <p class="mt-1 mb-0">{{ review.book_name }}</p>
                        <p>{{ review.book_author }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
 
{% endblock %}