{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center page-title">Create Review</h1>
            </div>
            <div class="col-12">
                <p class="text-center">
                    Add the details for your Book Review in the form below and click Create Review.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                

            </div>
        </div>
    </div>
 
{% endblock %}