{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'book_club/css/book_club.css' %}">
{% endblock %}

{% block content%}

    <div class="container">
        <div class="row mb-2">
            <div class="col-12 text-center">
                <h1 class=" page-title">{{ review.book_name }}'s Review</h1>
                <p class="blue-text">Review Author: {{ review.user }}</p>
            </div>
        </div>
    
        <div>
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center payment-header">Review</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5 review-image mb-3">
                    <img src="{{ review.image_url }}" alt="{{ review.book_name }}'s cover'">
                </div>
                <div class="book-summary col-12 col-lg-7">
                    <div>
                        <h2>{{ review.book_name }}</h2>
                        <h3>{{ review.book_author }}</h3>
                    </div>
                    <div class="mt-3">
                        <p>{{ review.book_review}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center payment-header">Comments</h2>
                    {% for comment in review_comments %}
                        <div class="col-12 review-comments">
                            <p class="comment-date mb-1">{{ comment.date_commented }}</p>
                            <p><span class="blue-text username">{{ comment.user }}</span>: {{ comment.comment_text }}</p>
                        </div>
                        <hr clss="1col-4 offset-">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
 
{% endblock %}