{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-12">
                <h1 class="text-center page-title">{{ user|capfirst }}'s Profile</h1>
            </div>
        </div>
         <div class="row container-profile general-container py-2">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Current Plan</p>
                
                <div class="col-12">
                <div class="order-history">
                    <div class="row">
                        {% for order in orders %}
                            {% for item in order.lineitem.all %}
                                <div class="col-12 col-md-6">
                                    <p class="mb-1 font-weight-bold">Current Plan</p>
                                </div>
                                <div class="col-12 col-md-6 text-md-right blue-text font-weight-bold">
                                    <p class="mb-1">{{ item.plan.name }} Plan</p>
                                </div>
                            {% endfor %}
                            <div class="col-12 col-md-6">
                                <p class="mb-1 font-weight-bold">Order Date</p>
                            </div>
                            <div class="col-12 col-md-6 text-md-right">
                                <p class="mb-1">{{ order.start_date|date:"M d, Y" }}</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="mb-1 font-weight-bold">Next Delivery</p>
                            </div>
                            <div class="col-12 col-md-6 text-md-right">
                                <p class="mb-1">{{ order.end_date|date:"M d, Y" }}</p>
                            </div>
                            <div class="w-100 d-flex justify-content-end">
                                <a href="{% url 'order_history' order.order_number %}" class="btn-blue smaller-btn float-right mt-1">See Order</a>
                            </div>
                        {% endfor %}
                        {% for review in my_reviews %}
                            <div class="col-6 col-md-4 my-reviews my-3">
                                <a href="{% url 'view_review' review.id %}"><img src="{{ review.image_url }}" alt="{{ review.book_name }}'s cover'"></a>
                                <p class="mt-1">Posted: {{ review.date_posted|date:'d/m/Y' }}</p>
                            </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn-blue float-right">Update Information</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
