{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Checkout{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content%}
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h1 class="text-center page-title">Checkout</h1>
            </div>
        </div>
        
        <div class="row container-form">
            <!-- Order Summary -->
            <div class="col-12 col-lg-5 order-lg-last">
                <h3 class="mb-2">Order Summary</h3>
                {% for item in cart_items %}
                    <div class="table-price ">
                        <h3 class="text-center text-white mb-2">Your Order</h3>
                        <p><strong>Plan:</strong> {{ item.plan.name }}</p>
                        <p><strong>Price:</strong> {{ item.plan.price }}</p>
                        <p><strong>Frequency:</strong> {{ item.plan.frequency|capfirst }}</p>
                        {% if item.plan.frequency == "annually" %}
                            <p><strong>Expire Date:</strong> <span id="expire-date"></span></p>
                        {% else %}
                            <small class="font-weight-bold m-2">You will receive a single delivery.</small>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <!-- Delivery Details -->
            <div class="col-12 col-lg-7">
                <p class="mt-2">Please fill out the form below to complete your order</p>
                <form class="checkout-form" action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset>
                        <legend>Delivery</legend>
                        <input type="hidden" value="{{ profile.favorite_authors }}" name="client_secret">
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.post_code | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <label for="id-save-info">Save this delivey information to my profile</label>
                        <input type="checkbox" id="id-save-info" name="save-info">
                    </fieldset>
                    <!-- Strype Payments -->
                    <fieldset>
                        <legend class="mb-0">Payment</legend>
                        <!-- Stripe card element -->
                        <div id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-2 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-buttons text-right mt-2 mb-2 mr-2">                    
						<a href="{% url 'view_cart' %}" class="btn-white"><i class="fas fa-chevron-left"></i> Adjust Cart</a>
						<button id="submit-button" class="btn-blue">Complete Order <i class="fas fa-lock"></i></button>
						<p class="small blue-text my-0 mt-2">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>${{ total|floatformat:2 }}</strong></span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-center loading-spinner">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}