{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Checkout Success{% endblock %}

{% block content%}
    <div class="container">
        <!-- Success Message -->
        <div class="row">
            <div class="col-12">
                <h1 class="text-center page-title mb-1">Success</h1>
            </div>
            <div class="col-12 col-lg-10 offset-lg-1">
                <h4 class="blue-text mb-4 mt-2 text-center">Thank you for chose Read More For Less</h4>
                <p class="text-justify">
                    {% for item in order.lineitem.all %}
                    {{ user|capfirst }}, {% if item.plan.frequency == 'annually' %}your plan starts on
                    {{ order.start_date|date:"M d, Y" }} and will end on {{ order.end_date|date:"M d, Y" }}{% else %}you chose the
                    {{ item.plan.frequency }} {{ item.plan.name }} plan, so will receive a single develivery{% endif %}.
                    {% if item.plan.name == 'Modern' %} You will receive your {% if item.plan.frequency == 'annually' %}first{% endif %}
                    e-book in up to 24 hours in your email.{% else %}If you are based in Ireland or the UK, you will receive your
                    {% if item.plan.frequency == 'annually' %}first{% endif %} delivery within 5 days. Otherwise, it might take a few
                    more days.{% endif %}
                    {% endfor %}
                </p>
                <p>
                    In the meanwhile, we encourage you to join our <a class="blue-text font-weight-bold" href="{% url 'book_club' %}" target="_blank">Book Club</a>,
                    there you will be able to create book reviews and interact with other users by comments.
                </p>
                <p>
                    Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.
                </p>
            </div>
        </div>

        <!-- Order Info -->
        <div class="row mt-4">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="general-container p-3">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.start_date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>
                    
                    {% for item in order.lineitem.all %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 blue-text font-weight-bold">
                                    {{ item.plan.name }} Plan
                                </p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">€{{ item.plan.price }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0  font-weight-bold">
                                    Payment
                                </p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ item.plan.frequency|capfirst }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Delivering To:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 font-weight-bold">County</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ order.county }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 font-weight-bold">Postal Code</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ order.postcode }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">
                                {% for item in order.lineitem.all %}
                                    {% if item.plan.frequency == "Monthly" %} 
                                        12 x 
                                    {% endif %}
                                {% endfor %}
                                €{{ order.total }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-8 offset-lg-2 text-right mt-3">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn-blue">
                        <span class="mr-1">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span>Back to Profile</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}