{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h1 class="text-center page-title">Checkout</h1>
            </div>
        </div>
        
        <div class="row container-form">
            <!-- Order Summary -->
            <div class="col-12 col-lg-5 order-lg-last">
                <h3 class="mb-2">Order Summary</h3>
                {% for item in cart_items %}
                    <div class="table-price ">
                        <h3 class="text-center text-white mb-2">Your Order</h3>
                        <p><strong>Plan:</strong> {{ item.plan.name }}</p>
                        <p><strong>Price:</strong> {{ item.plan.price }}</p>
                        <p><strong>Frequency:</strong> {{ item.plan.frequency }}</p>
                        <p><strong>Expire Date:</strong> <span id="expire-date"></span></p>
                    </div>
                {% endfor %}
            </div>

            <!-- Delivery Details -->
            <div class="col-12 col-lg-7">
                <p>Please fill out the form below to complete your order</p>
                <form class="checkout-form" action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset>
                        <legend>Delivery</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.post_code | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <label for="id-save-info">Save this delivey information to my profile</label>
                        <input class="m-0" type="checkbox" id="id-save-info" name="save-info">
                    </fieldset>
                    <!-- Strype Payments -->
                    <fieldset>
                        <legend class="mb-0">Payment</legend>
                        <!-- Stripe card element -->
                        <div id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-2 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-buttons text-right mt-2 mb-2 mr-2">                    
						<a href="{% url 'view_cart' %}" class="btn-white"><i class="fas fa-chevron-left"></i> Adjust Cart</a>
						<button id="submit-button" class="btn-blue">Complete Order <i class="fas fa-lock"></i></button>
						<p class="small blue-text my-0 mt-2">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>${{ total|floatformat:2 }}</strong></span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-center loading-spinner">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </h1>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script type="text/javascript">
        let date = () => {
            n = new Date();
            y = n.getFullYear() + 1;
            m = n.getMonth();
            d = n.getDate();
            document.getElementById("expire-date").innerHTML = d + "/" + m + "/" + y;
        };
        date()

        var stripePublicKey = $('#id_stripe_public_key').text().slice(1, -1);
        var clientSecret = $('#id_client_secret').text().slice(1, -1);
        var stripe = Stripe(stripePublicKey);
        var elements = stripe.elements();
        var style = {
            base: {
                color: '#000',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#dc3545',
                iconColor: '#dc3545'
            }
        };
        var card = elements.create('card', {style: style});
        card.mount('#card-element');

        // Handle realtime validation errors on the card element
        card.addEventListener('change', function (event) {
            var errorDiv = document.getElementById('card-errors');
            if (event.error) {
                var html = `
                    <span class="icon" role="alert">
                        <i class="fas fa-times"></i>
                    </span>
                    <span>${event.error.message}</span>
                `;
                $(errorDiv).html(html);
            } else {
                errorDiv.textContent = '';
            }
        });

        // Handle form submit
        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function(ev) {
            ev.preventDefault();
            card.update({ 'disabled': true});
            $('#submit-button').attr('disabled', true);
            $('#payment-form').fadeToggle(100);
            $('#loading-overlay').fadeToggle(100);
            
            var saveInfo = Boolean($('#id-save-info').attr('checked'));
            // From using {% csrf_token %} in the form
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            var postData = {
                'csrfmiddlewaretoken': csrfToken,
                'client_secret': clientSecret,
                'save_info': saveInfo,
            };
            var url = '/checkout/cache_checkout_data/';

            $.post(url, postData).done(function() {
                stripe.confirmCardPayment(clientSecret, {
                    payment_method: {
                        card: card,
                        billing_details: {
                            name: $.trim(form.full_name.value),
                            phone: $.trim(form.phone_number.value),
                            email: $.trim(form.email.value),
                            address:{
                                line1: $.trim(form.street_address1.value),
                                line2: $.trim(form.street_address2.value),
                                city: $.trim(form.town_or_city.value),
                                country: $.trim(form.country.value),
                                state: $.trim(form.county.value),
                            }
                        }
                    },
                    shipping: {
                        name: $.trim(form.full_name.value),
                        phone: $.trim(form.phone_number.value),
                        address: {
                            line1: $.trim(form.street_address1.value),
                            line2: $.trim(form.street_address2.value),
                            city: $.trim(form.town_or_city.value),
                            country: $.trim(form.country.value),
                            postal_code: $.trim(form.post_code.value),
                            state: $.trim(form.county.value),
                        }
                    },
                }).then(function(result) {
                    if (result.error) {
                        var errorDiv = document.getElementById('card-errors');
                        var html = `
                            <span class="icon" role="alert">
                            <i class="fas fa-times"></i>
                            </span>
                            <span>${result.error.message}</span>`;
                        $(errorDiv).html(html);
                        $('#payment-form').fadeToggle(100);
                        $('#loading-overlay').fadeToggle(100);
                        card.update({ 'disabled': false});
                        $('#submit-button').attr('disabled', false);
                    } else {
                        if (result.paymentIntent.status === 'succeeded') {
                            form.submit();
                        }
                    }
                });
            }).fail(function () {
                // just reload the page, the error will be in django messages
                location.reload();
            })
        });
    </script>

{% endblock %}