* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f9f8f6;
    font-size: 0.9rem;
}

.page-title {
    font-size: 3rem;
    color: #2D88FF;
    margin-top: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.blue-text {
    color: #2D88FF !important;
}

.blue-border {
    border-radius: 8px;
    border: 5px solid #2D88FF;
}

.general-container {
    background: #fff;
    border-radius: 8px;
    border: 2px solid #2D88FF;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 30%);
    margin: 0 auto;
}

/* Buttons */
.btn-blue {
    padding: 10px 15px;
    font-family: "Josefin Sans", sans-serif;
    color: #fff !important;
    background: #2D88FF;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.btn-blue:hover {
    background: #0865de;
}

.btn-white {
    padding: 8px 15px;
    font-family: "Josefin Sans", sans-serif;
    color: #2D88FF !important;
    background: #fff;
    border: 2px solid #2D88FF;
    margin-right: 5px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: .3s;
}

.btn-delete {
    padding: 8px 15px;
    font-family: "Josefin Sans", sans-serif;
    border: 2px solid #dc3545;
    margin-right: 5px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.btn-white:hover {
    background: #efefef;
}

.smaller-btn {
    padding: 5px 10px;
}

.smaller-btn-blue {
    padding: 6px 10px;
}

.smaller-btn-red {
    padding: 3px 10px;
}
/* ------- NAVBAR ------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 7vh;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.name-logo {
    font-family: 'Merriweather', serif;
    margin-left: 1rem;
    margin-bottom: 0;
}

.small-logo {
    margin-left: 1rem;
    margin-bottom: 0;
    border: 2px solid #087bff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-family: serif;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  margin: 0;
}

.nav-links li {
  list-style-type: none;
}
.shopping-card {
    margin-right: 0.5rem;
}

.shopping-card a i {
    display: flex;
    justify-content: center;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  margin: 0 1rem;
}

.btn-register {
    font-size: 1.1rem;
}

.burguer {
    display: none;
    margin-right: 5px;
}

.burguer div {
    background: #2D88FF;
    width: 25px;
    height: 3px;
    margin: 5px;
}

/* ------- HERO ------- */
.hero {
    height: 70vh;
    position: relative;
}

.intro-animation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10rem;
}

.intro-animation p {
    font-size: 4.5rem;
    color: #080808;
}

.container-intro {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
}

.fa-brain {
    color: #2D88FF;
}

.container-intro > p {
    width: 80%;
    max-width: 800px;
    line-height: 2rem;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* ------- PRICING ------- */
.pricing-cards {
    position: relative;
}

.card {
    border-radius: 12px;
    box-shadow: 0px 2px 10px 2px rgb(0, 0, 0, .1);
    width: 350px;
    height: 350px;
    margin-bottom: 1rem;
    position: relative;
}

.pricing-card-header {
    color: #2D88FF;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-price {
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.card-price i {
    font-size: 1rem;
    margin: 1.1rem .2rem 0 0;
}

.card-price span {
    font-size: 0.7rem;
    font-weight: 700;
}

.card > p {
    padding: .5rem 1rem;
}

.frequency-input {
    font-size: 0.8rem;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

.url-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.tab-content>.active {
    display: contents;
}

.discount-container {
    transform: translateX(-46px);
    max-width: 188px;
}

.triangle {
    width: 0;
	height: 0;
	border-width: 10px 10px 0 10px;
	border-color: #000 transparent transparent transparent;
    border-style: solid;
    margin: 0 auto;
}

.discount {
    background: #000;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}

/* ------- PLAN DETAIL ------- */
#delivery-date {
    letter-spacing: 1px;
}


/* ------- CART ------- */
.checkout-card p {
    margin: 0;
}

.checkout-price > p {
    padding: 3.5rem 0 0 1rem;
}

.checkout-card > p:nth-child(3) {
    text-align: end;
}

.checkout-value {
    margin: 0;
    display: flex;
    justify-content: center;
}

.checkout-buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 145px;
}

.btn-checkout {
    font-size: 0.9rem;
    padding: 9px;
    align-self: center;
    border: 2px solid #2d88ff;
}

/* ------- Toast Messages ------- */
.message-container {
    position: fixed;
    top: 75px;
    right: 2px;
    margin: 0 5px;
    z-index: 99;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* ------- CHECKOUT------- */
.container-form {
    border: 1px solid #827f7f;
    border-radius: 3px;
    padding: 10px 0;
    margin: 0;
}

.table-price,
.checkout-form {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.15);
}

.checkout-form {
    margin-top: 20px;
}

.checkout-form input, label {
    margin: 0 10px;
    width: -webkit-fill-available;
}

#id-save-info, label {
    margin: 0 0 10px 10px;
    width: unset;
}

#id-save-info {
    margin: 0;
}

.checkout-form legend {
    text-align: center;
    font-weight: 500;
    padding: 6px 10px;
    background: #2D88FF;
    color: #fff;
}

.checkout-form > fieldset:nth-child(2) > legend {
    border-radius: 8px 8px 0 0;
}

.table-price h3 {
    background: #2D88FF;
    padding: 8px 0;
    border-radius: 8px 8px 0 0;
}

.table-price p {
    padding: 10px;
}

.submit-buttons {
    border: none;
}

.submit-buttons a {
    padding: 12px 15px;
}
/* Stripe Payment */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  font-size: 0.9rem;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.form-control,
#card-element {
    color: #000;
    box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 1);
    margin: 10px;
}

/* ------- CHECKOUT SUCCESS------- */
select,
select option {
    color: #000000;
    font-size: 0.9rem;
}

select:invalid {
    color: #aab7c4 !important;
}

.form-control {
    width: -webkit-fill-available;
}

/* Allauth */
.container-allauth {
    margin-top: 150px;
}

.allauth-form {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 5px solid #2D88FF;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 30%);
}

.btn-allauth {
    padding: 5px 15px;
}

/* ------- PROFILE------- */
#profile-update-form input::placeholder {
    color: #495057;
}

/* ------- MODAL ------- */
.modal {
    z-index: 999;
}

.modal-header,
.modal-footer {
    border: none;
}

.btn-edit-container {
    position: absolute;
    right: 11px;
    top: 13px;
    display: flex;
    font-size: 0.8rem;
    z-index: 2;
}

.btn-edit-container a {
    display: grid;
}

.btn-edit-container i {
    display: flex;
    justify-content: center;
}

.my-reviews img {
    width: 125px;
    height: 190px;
    display: flex;
    margin: 0 auto;
}

.my-reviews p {
    width: 125px;
    font-weight: 600;
    font-size: .8rem;
    display: flex;
    margin: 0 auto;
}

/* ------- FOOTER ------- */
footer {
    min-height: 200px;
    display: flex;
}

footer div {
    margin: auto;
}

.social-links ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.social-links li {
  list-style-type: none;
  display: inline;

}

.social-links i {
    font-size: 1.8rem;
    color: #2D88FF;
    transition: transform 0.4s;
    margin: 10px 5px;
}

.social-links .fa-facebook {
    color: #036ae3;
}

.social-links .fa-instagram {
    color: #f56a40;
}

.social-links .fa-youtube {
    color: #f00;
}

.social-links .fa-github {
    color: #000;
}

.social-links .fa-linkedin {
    color: #0a66c2;
}

.social-links i:hover {
    transform: scale(1.2);
}

.icon-shadow {
    box-shadow:  0px 8px 6px rgb(0 0 0);
    width: 12px;
    height: 2px;
    color: transparent;
    margin: 0 auto;
    background: #f9f8f6;
}

@media screen and (max-width: 992px) {
    body {
        overflow-x: hidden;
    }

    .page-title {
        font-size: 2.5rem;
    }

    .nav-links {
        position: fixed;
        background: rgb(162,201,252);
        background: radial-gradient(circle, rgba(162,201,252,1) 0%, rgba(45,136,255,1) 100%);
        width: 70%;
        right: 0;
        top: 7vh;
        height: 93vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burguer {
        display: block;
        cursor: pointer;
    }

    .discount-wrapper {
        margin: 0 !important;
    }
}

.nav-active {
    transform: translateX(0%);
}

@media screen and (max-width: 576px) {
    .page-title {
        font-size: 2.5rem;
    }

    .hero {
        height: 75vh;
    }

    .intro-animation {
        padding-top: 3rem;
    }

    .intro-animation p {
        font-size: 3rem;
    }

    .container-intro > p {
        width: 100%;
    }

    .card {
        width: 330px;
        height: 330px;
    }

    



    footer {
        min-height: 100px;
    }

    footer div {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 320px) {
    .small-logo {
        width: 40px;
        height: 40px;
    }

    .intro-animation {
        padding-top: 1rem;
    }

    .intro-animation p {
        margin: 0;
    }

    .card {
        width: 290px;
        height: 290px;
    }

    .my-reviews img {
        width: 100px;
        height: 152px;
    }

    .my-reviews p {
        width: 100px;
    }
}