{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 mt-5 mb-3">
                <h2 class="blue-text mb-4">Product Management</h2>
                <h5 class="text-muted">Add a new Plan</h5>
            </div>
        </div>

        <!-- Add Plan Form -->
        <div class="row">
            <div class="col-12 col-lg-6 general-container">
                <form method="POST" action="{% url 'add_plan' %}" class="form mt-4 mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn-white" href="{% url 'pricing' %}">Cancel</a>
                        <button class="btn-blue smaller-btn-blue" type="submit">Add Plan</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}