{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 mt-5 mb-3">
                <h2 class="blue-text mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Plan</h5>
            </div>
        </div>

        <!-- Edit Plan Form -->
        <div class="row px-3">
            <div class="col-12 col-lg-6 general-container form">
                <form method="POST" action="{% url 'edit_plan' plan.id %}" class="form mt-4 mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="float-left btn-danger btn-delete smaller-btn-red" href="#" data-toggle="modal" data-target="#modal-delete">
                            Delete<i class="fas fa-trash m-1"></i>
                        </a>
                        <a class="btn-white" href="{% url 'pricing' %}">Cancel</a>
                        <button id="submit-button" class="btn-blue smaller-btn-blue" type="submit">Update Plan</button>
                    </div>
                </form>
            </div>            
        </div>
        <!-- Modal Delete -->
        {% include 'includes/modals/modal_delete.html' %}
    </div>
{% endblock %}