{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mt-5 mb-3">
                <h2 class="blue-text mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Plan</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_plan' plan.id %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn-white" href="{% url 'pricing' %}">Cancel</a>
                        <button class="btn-blue smaller-btn-blue" type="submit">Update Plan</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}