{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h1 class="text-center page-title">{{ pricing.frequency|capfirst }} {{ pricing.name }}'s Plan</h1>
            </div>
            <div class="col-12">
                <p class="text-center">
                    {{ pricing.introduction }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="text-center payment-header">{{ pricing.name }} Details</h2>
            </div>
        </div>
        <div class="row details-container general-container">
            <div class="col-12 col-lg-6 mt-3">
                <p class="text-muted">Plan Details</p>
                
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-1 font-weight-bold">Plan Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right blue-text font-weight-bold">
                            <p class="mb-1">{{ pricing.name }}</p>
                        </div>

                        <div class="col-12 col-md-4">
                            <p class="mb-1 font-weight-bold">Price</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-1">
                                {% if pricing.frequency == "monthly" %}
                                    12 x 
                                {% endif %}
                                € {{ pricing.price }}
                            </p>
                        </div>

                        <div class="col-12 col-md-4">
                            <p class="mb-1 font-weight-bold">First Delivery</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-1"><span id="delivery-date"></span></p>
                        </div>
                        <div class="w-100 d-flex justify-content-end">
                            <a href="{% url 'add_to_cart' pricing.id %}" class="btn-blue smaller-btn float-right mt-1">Add to Cart</a>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                
                </div>

            </div>
            <div class="col-12 col-lg-6 mt-3">
                <p class="text-muted">Book Preferences</p>
                <form class="mt-3" action="{% url 'plan_detail' pricing.id %}" method="POST" id="book-preferences">
                    {% csrf_token %}
                    {{ book_preferences_form|crispy }}
                    <button class="btn-blue float-right mb-2">Update</button>
                </form>
            </div>
        </div>
    </div>
    
    

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        let date = () => {
            n = new Date();
            y = n.getFullYear();
            m = n.getMonth();
            d = n.getDate() + 5;
            document.getElementById("delivery-date").innerHTML = d + "/" + m + "/" + y;
        };
        date()
    </script>
{% endblock %}