{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center page-title" >Pricing</h1>
            </div>
            <div class="col-12">
                <p class="text-center">
                    As your name says, Read More For Less, we want to give you fair prices. Besides, give you the convenience of
                    receiving books at your home as often you want, our team wants you to save your money as much as possible. Keeping
                    that we mind, our team is always looking for the best books at a fair price to suits you better.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center payment-header">Payment Plans</h2>
            </div>
        </div>
        <div class="row">
            
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Profile</a>
                    </li>
                </ul>

                <div class="tab-content row mt-5" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        {% for plan in pricing %}
                            {% if plan.frequency == "Annually" %}
                                <div class="col-12 col-md-6 col-lg-4 pricing-cards">
                                    <div class="card">
                                    <a href="{% url 'add_to_cart' item_id=plan.id %}" class="url-overlay"></a>
                                        <div class="pricing-card-header">
                                            <h3>{{ plan.name }}</h3>
                                        </div>
                                        <p>{{plan.description}}</p>
                                        <div class="card-price">
                                            <i class="fas fa-euro-sign"></i>
                                            <p>{{plan.price}}<span>EUR</span></p>
                                        </div>
                                        <p class="frequency-input">You will be billed {{plan.frequency|lower}}.</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        {% for plan in pricing %}
                            {% if plan.frequency == "Monthly" %}
                                <div class="col-12 col-md-6 col-lg-4 pricing-cards">
                                    <a href="{% url 'add_to_cart' item_id=plan.id %}" class="url-overlay"></a>
                                    <div class="card">
                                        <div class="pricing-card-header">
                                            <h3>{{ plan.name }}</h3>
                                        </div>
                                        <p>{{plan.description}}</p>
                                        <div class="card-price">
                                            <i class="fas fa-euro-sign"></i>
                                            <p>{{plan.price}}<span>EUR</span></p>
                                        </div>
                                        <p class="frequency-input">You will be billed {{plan.frequency|lower}}.</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#myTab a').on('click', function (event) {
            event.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}