{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center page-title">Pricing</h1>
            </div>
            <div class="col-12">
                <p class="text-center">
                    As your name says, Read More For Less, we want to give you fair prices. Besides, give you the convenience of
                    receiving books at your home as often you want, our team wants you to save your money as much as possible. Keeping
                    that we mind, our team is always looking for the best books at a fair price to suits you better.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center payment-header">Payment Plans</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center d-lg-block">
        
            <div class="ml-3 discount-wrapper">
                <div class="discount-container mb-2">
                    <div class="discount text-center">
                        <p class="m-0 font-weight-bold">Best Value</p>
                        <p class="m-0 font-weight-bold">Save up to 50%</p>
                    </div>
                    <div class="triangle">
                    </div>
                </div>
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                                aria-controls="pills-home" aria-selected="true">Annually</a>
                        </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Monthly</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content row mt-3 m-0 d-flex justify-content-center" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% for plan in pricing %}
                        {% if plan.frequency == "annually" %}
                            <div class="col-12 col-md-6 col-lg-4 pricing-cards d-flex justify-content-center">
                                <div class="card">
                                {% if request.user.is_superuser %}
                                    <div class="btn-edit-container">
                                        <a href="{% url 'edit_plan' plan.id %}">
                                            <i class="fas fa-edit"></i>Edit
                                        </a>
                                    </div>
                                {% endif %}
                                <a href="{% url 'add_to_cart' plan.id %}" class="url-overlay"></a>
                                    <div class="pricing-card-header">
                                        <h3>{{ plan.name }}</h3>
                                    </div>
                                    <p>{{ plan.description }}</p>
                                    <div class="card-price">
                                        <i class="fas fa-euro-sign"></i>
                                        <p>{{ plan.price }}<span>EUR</span></p>
                                    </div>
                                    <p class="frequency-input">You will be billed {{ plan.frequency|lower }}.</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    {% for plan in pricing %}
                        {% if plan.frequency == "monthly" %}
                            <div class="col-12 col-md-6 col-lg-4 pricing-cards d-flex justify-content-center">
                                <div class="card">
                                    {% if request.user.is_superuser %}
                                        <div class="btn-edit-container">
                                            <a href="{% url 'edit_plan' plan.id %}">
                                                <i class="fas fa-edit"></i>Edit
                                            </a>
                                        </div>
                                    {% endif %}
                                    <a href="{% url 'add_to_cart' plan.id %}" class="url-overlay"></a>
                                    <div class="pricing-card-header">
                                        <h3>{{ plan.name }}</h3>
                                    </div>
                                    <p>{{ plan.description }}</p>
                                    <div class="card-price">
                                        <i class="fas fa-euro-sign"></i>
                                        <p>{{ plan.price }}<span>EUR</span></p>
                                    </div>
                                    <p class="frequency-input">You will be billed {{ plan.frequency|lower }}.</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#myTab a').on('click', function (event) {
            event.preventDefault()
            $(this).tab('show')
        });

        if (window.matchMedia("(min-width: 1200px)").matches) {
            const priceAnim = gsap.timeline({ defaults: { ease: "power1.out" } });
            priceAnim.from("#pills-home > div:nth-child(2) > div" , { opacity: 0, duration: 1.8 }).delay(0.1);
            priceAnim.from("#pills-home > div:nth-child(1) > div", { x: 200, opacity: 0, duration: 1.2 }, "-=1.2");
            priceAnim.from("#pills-home > div:nth-child(3) > div", { x: -200, opacity: 0, duration: 1.2 }, "-=1.2");
        };
        // $('#myModal').modal('show')
    </script>
{% endblock %}