{% extends "account/base.html" %}
{% block extra_title %} - Log In{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<h2 class="blue-text mb-3">{% trans "Log In" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with your registered details or with your Google Account.{% endblocktrans %}</p>

{% get_providers as socialaccount_providers %}
<a class="login-google " href="{% provider_login_url 'google' %}">
    <img src="{{ MEDIA_URL }}google-icon.svg" alt="Sign in with Google Button" />
    Continue with Google</a>

<p class="my-3">or</p>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a class="blue-text" href="{{ signup_url }}">Register</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn-blue btn-allauth" type="submit">{% trans "Log in" %}</button>
  <a href="{% url 'home' %}" class="btn-white">{% trans 'Cancel' %}</a>
  <p class="mb-0 mt-2">
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
</form>
<p class="text-center mt-2">{% blocktrans %}Don't have an account yet?<a class="blue-text" href="{{ signup_url }}"> Register</a>{% endblocktrans %}</p>
{% endblock %}
