/* Book Club */
.book-cover img {
    max-width: 185px;
    display: flex;
    margin: 0 auto;
}

.book-cover p {
    max-width: 185px;
    font-weight: 700;
    font-size: .8rem;
    display: flex;
    margin: 0 auto;
}

/* View Review */
.review-image img {
    max-width: 300px;
    display: flex;
    margin: 0 auto;
}

.review-comments p {
    margin: 0;
}

hr {
    margin: 0.9rem;
}

.comment-date {
    font-size: .7rem;
}

.username {
    font-weight: 600;
}
