/* Book Club */
.book-cover img {
    max-width: 185px;
    display: flex;
    margin: 0 auto;
}

.book-cover p {
    max-width: 185px;
    font-weight: 700;
    font-size: .8rem;
    display: flex;
    margin: 0 auto;
}

.input-search input {
    font-size: 0.9rem;
    height: 3.0rem;
    padding: 0.5rem;
    border: 3px solid #2d88ff;
    border-radius: 20px;
    outline: none;
    max-width: 500px;
}

.input-search button {
    font-size: 1.4rem;
    background: #2d88ff;
    color: #fff;
    margin-left: 5px;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
/* View Review */
.review-image img {
    max-width: 300px;
    display: flex;
    margin: 0 auto;
}

.btn-edit-review {
    border-radius: 50%;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 93px;
    top: 4px;
}

.review-comments p {
    margin: 0;
}

hr {
    margin: 0.9rem;
}

.comment-date {
    font-size: .7rem;
}

.username {
    font-weight: 600;
}

@media screen and (max-width: 576px) {

    .review-header h2 {
        font-size: 1.5rem;
    }

    .review-header h3 {
        font-size: 1.25;
    }

    .book-cover img {
        max-width: 155px;
    }

    .book-cover p {
        max-width: 155px;
    }
}

@media screen and (max-width: 350px) {
    .book-cover img {
        max-width: 135px;
    }

    .book-cover p {
        max-width: 135px;
    }
}
