{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta block -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    <!-- Extra Meta block -->
    {% block extrameta %}

    {% endblock %}

    <!-- CSS block -->
    {% block corecss %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swapfamily=Merriweather&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    
    <!-- Extra CSS block -->
    {% block extracss %}
    {% endblock %}
    
    <!-- JavaScript block -->
    {% block corejs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
            integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
    {% endblock %}

    <!-- Extra JavaScript block -->
    {% block exra_js %}
    {% endblock %}

    <!-- Page title -->
    <title>Read More For Less {% block extra_title %}{% endblock %}</title>
</head>
<body>

    <header>
        <div>
            <nav>
                <a>
                    <h3>Read more for Less</h3>
                </a>
                <ul class="nav-links">
                    <li><a class="nav-anchor" href="#">Home</a></li>
                    <li><a class="nav-anchor" href="#">Pricing</a></li>
                    <li><a class="nav-anchor" href="#">Log In</a></li>
                    <li><a class="nav-anchor btn-register" href="#">Register</a></li>
                    <li><a class="nav-anchor" href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
                <div class="burguer">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
    </header>

    <!-- display messages from Django block -->
    {% if messages %}
    {% endif %}

    <!-- Page Header block -->
    {% block page_header %}
    {% endblock %}

    <!-- Additional page content block -->
    {% block content %}
    {% endblock %}

    <!-- JS load end of body block -->
    {% block postloadjs %}
    {% endblock %}

</body>
</html>